* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  overflow-y: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}
