.search-page {
  font-family: "Times New Roman", Times, serif;
}

/* Search Results Container */
.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fit, min(25%, 0.5fr));
  /* edit later */
  height: 85%;
  overflow-y: scroll;
  /* Grid layout */
  gap: 70px;
  scrollbar-width: 5px;
  padding: 0px 15px 60px 60px;
  scroll-behavior: smooth;
}

/* Individual Post Item */
.post-item {
  padding: 0;
  padding-top: 1em;
  background-color: rgb(253, 253, 253);
  border-radius: 15px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  aspect-ratio: 1/1;
}

.post-item:hover {
  transform: translateY(-5px);
  /* Hover effect */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Post Title */
.post-item h3 {
  font-size: 1.5em;
  margin: 10px;
  text-transform: capitalize;
  text-align: left;
}

.search-page h2 {
  font-size: 1.5em;
  margin: 10px;
  text-transform: capitalize;
  text-align: left;
}

/* Post Details */
.post-item p {
  font-size: 1.5em;
  text-align: left;
  margin: 0.5em;
}

/* Post Image */
.post-item img {
  width: 100%;
  height: 70%;
}

.search-page h2,
.post-item h3,
.post-item p {
  font-weight: normal;
}

.search-page h2 {
  margin-top: 50px;
}

.search-bar {
  display: flex;
  margin: 0;
  flex-direction: row;
  align-items: center;
  border-radius: 30px;
  padding: 8px;
  background-color: rgb(244, 244, 244);
}

.search-bar input {
  border: none;
}
