.search-page,
.home-container {
  font-family: "Times New Roman", Times, serif;
}

/* Search Results Container */
.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  padding: 20px;
  overflow-y: scroll;
  /* Grid layout */
  gap: 3em;
  scrollbar-width: 5px;
  margin: 20px;
  scroll-behavior: smooth;
  height: 80%;
}

/* Individual Post Item */
.post-item {
  padding: 0;
  padding-top: 1em;
  background-color: rgb(253, 253, 253);
  border-radius: 15px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  aspect-ratio: 1/1;
}

.post-item:hover {
  transform: translateY(-5px);
  /* Hover effect */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Post Title */
.post-item h3 {
  font-size: 1.5em;
  margin: 10px;
  text-transform: capitalize;
  text-align: left;
}

.search-page h2,
.home-container h2 {
  font-size: 1.5em;
  margin: 10px;
  text-transform: capitalize;
  text-align: left;
  font-weight: normal;
  margin-top: 50px;
}

/* Post Details */
.post-item p {
  font-size: 1.5em;
  text-align: left;
  margin: 0.5em;
}

/* Post Image */
.post-item img {
  width: 100%;
  height: 70%;
}

.post-item h3,
.post-item p {
  font-weight: normal;
}

.search-bar {
  display: flex;
  margin: 0;
  flex-direction: row;
  align-items: center;
  border-radius: 30px;
  padding: 8px;
  background-color: rgb(244, 244, 244);
}

.search-bar input {
  border: none;
}

.home-title {
  display: flex;
  flex-direction: row;
  align-self: center;
  font-size: 60px;
  width: 80%;
  margin: 30px 30px 70px 30px;
  justify-self: center;
  align-items: center;
  text-align: left;
  gap: 0.5rem;
}

.home-title div:has(p) {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  flex: auto;
  font-size: clamp(1rem, 4.5vw, 6rem);
}

.home-title p {
  margin: 0;
  font-size: clamp(1rem, 1.5vw, 6rem);
}

.home-title .home-logo {
  aspect-ratio: 1/1;
  max-width: 20%;
  max-height: 20%;
}
